.App {
  text-align: center;
}

.App-logo {
  height: 20px;
  float: left;
}

.Question-icon {
  height: 25px;
}

.InfoModalButton {
  float: right;
  border: none;
  text-align: center;
  text-decoration: none;
  cursor:pointer;
}

.InfoModalCloseButton {
  border: 1px solid #A5DFCA;
  border-radius: 2px;
  color: #A5DFCA;
  cursor:pointer;
  font-size: 15px;
  font-family: Pier Sans;
}

.ModalText {
  color: gray;
  font-family: Pier Sans;
  font-weight: lighter;
  padding-bottom: 2.5%;
  text-align: justify;
  text-justify: inter-word;
}

.Pier {
  font-family: Pier Sans;
  font-weight: lighter;
}

.floating-arrow {
  height: 65px;
  float: center;
}

.floating {
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
  transition: 1s;
  transform: translateY(50%);
}

.App-header {
  background-color: #ffffff;
  height: 150px;
  padding: 20px;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}
