label {
 display: block;
}

textarea{
 /* box-sizing: padding-box; */
 overflow:hidden;
 /* demo only: */
 padding:10px;
 width: 75%;
 color: grey;
 font-size:20px;
 margin:25px auto;
 display:block;
 border-radius:10px;
}

.textarea value{
 overflow: hidden;
 border-right: .15em solid orange; /* The typwriter cursor */
 animation:
   typing 3.5s steps(30, end),
   blink-caret .5s step-end infinite;
}

@keyframes typing {
 from { width: 0 }
 to { width: 100% }
}

@keyframes blink-caret {
 from, to { border-color: transparent }
 50% { border-color: orange }
}

#buttonBox {
    display: flex;
    justify-content: space-around;

}


#input-area {
    height: 15vh;
    display: block;
}

#text-box {
    height: 50%;
}

#speech-text {
    height: 10vh;
}

input[type=submit] {
    padding: 25px;
    border-radius: 2px;
    cursor:pointer;
    font-size: 20px;
    font-family: Pier Sans;
    width: 20vw;

   background-color: #a3e2cb;
   color: white;

}